<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base_025zilla.css}"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function selectYear() {
            location.href = document.select_year.year.value
        }
        /*]]>*/
    </script>
</head>
<body>
<div id="container">
    <div th:replace="common :: header">...</div>
    <div th:replace="common :: menu">...</div>

    <div id="content">
        <h1>打撃成績</h1>

        <form name="select_year" method="post" OnChange="selectYear()">
            <select title="year" name="year" id="year">
                <option th:each="y : ${yearList}" th:value="'/battings?year=' + ${y}" th:selected="${y} == ${year}">
                    [[${y}]]
                </option>
            </select>
        </form>

        <table class="bbase">
            <tr>
                <th align="left">選手</th>
                <th align="center">試<br/>合<br/>数</th>
                <th align="center">打<br/>席</th>
                <th align="center">打<br/>数</th>
                <th align="center">安<br/>打</th>
                <th align="center">四<br/>球</th>
                <th align="center">死<br/>球</th>
                <th align="center">三<br/>振</th>
                <th align="center">盗<br/>塁</th>
                <th align="center">二<br/>塁<br/>打</th>
                <th align="center">三<br/>塁<br/>打</th>
                <th align="center">本<br/>塁<br/>打</th>
                <th align="center">打<br/>点</th>
                <th align="center">得<br/>点</th>
                <th align="center">打<br/>率</th>
                <th align="center">出<br/>塁<br/>率</th>
                <th align="center">長<br/>打<br/>率</th>
                <th align="center">NOI</th>
            </tr>
            <tr th:each="batter : ${summary}">
                <td th:text="${batter.name}"></td>
                <td class="number" th:text="${batter.game}"></td>
                <td class="number" th:text="${batter.daseki}"></td>
                <td class="number" th:text="${batter.dasu}"></td>
                <td class="number" th:text="${batter.hit}"></td>
                <td class="number" th:text="${batter.fball}"></td>
                <td class="number" th:text="${batter.dball}"></td>
                <td class="number" th:text="${batter.sout}"></td>
                <td class="number" th:text="${batter.steal}"></td>
                <td class="number" th:text="${batter.hit2}"></td>
                <td class="number" th:text="${batter.hit3}"></td>
                <td class="number" th:text="${batter.homerun}"></td>
                <td class="number" th:text="${batter.rbi}"></td>
                <td class="number" th:text="${batter.point}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(batter.averageHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(batter.obpHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(batter.slaggingHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${batter.noi}"></td>
            </tr>

            <tr th:if="${ineffectiveCount}">
                <td colspan=18 align="center"> 規定試合数未満</td>
            </tr>

            <tr th:if="${ineffectiveCount}" th:each="batter : ${ineffective}">
                <td th:text="${batter.name}"></td>
                <td class="number" th:text="${batter.game}"></td>
                <td class="number" th:text="${batter.daseki}"></td>
                <td class="number" th:text="${batter.dasu}"></td>
                <td class="number" th:text="${batter.hit}"></td>
                <td class="number" th:text="${batter.fball}"></td>
                <td class="number" th:text="${batter.dball}"></td>
                <td class="number" th:text="${batter.sout}"></td>
                <td class="number" th:text="${batter.steal}"></td>
                <td class="number" th:text="${batter.hit2}"></td>
                <td class="number" th:text="${batter.hit3}"></td>
                <td class="number" th:text="${batter.homerun}"></td>
                <td class="number" th:text="${batter.rbi}"></td>
                <td class="number" th:text="${batter.point}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(batter.averageHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(batter.obpHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(batter.slaggingHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${batter.noi}"></td>
            </tr>

            <tr>
                <td colspan=18 height="3px"></td>
            </tr>

            <tr th:if="${total}">
                <td>Total</td>
                <td class="number" th:text="${total.game}"></td>
                <td class="number" th:text="${total.daseki}"></td>
                <td class="number" th:text="${total.dasu}"></td>
                <td class="number" th:text="${total.hit}"></td>
                <td class="number" th:text="${total.fball}"></td>
                <td class="number" th:text="${total.dball}"></td>
                <td class="number" th:text="${total.sout}"></td>
                <td class="number" th:text="${total.steal}"></td>
                <td class="number" th:text="${total.hit2}"></td>
                <td class="number" th:text="${total.hit3}"></td>
                <td class="number" th:text="${total.homerun}"></td>
                <td class="number" th:text="${total.rbi}"></td>
                <td class="number" th:text="${total.point}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(total.averageHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(total.obpHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${#numbers.formatDecimal(total.slaggingHalfUp, 1, 3)}"></td>
                <td class="number" th:text="${total.noi}"></td>
            </tr>
        </table>

        <h4>おことわり</h4>
        <dl>
            <dt>出塁率</dt>
            <dd>
                本来出塁率は<br/>
                <i>出塁率 ＝（安打＋四死球）／（打数＋四死球＋犠飛）</i><br/>
                で計算されますが、ハンターズでは分母を打席数で計算しています。
                このため、犠打、打撃妨害、走塁妨害が出塁率にマイナスに作用します。
            </dd>
        </dl>
        <dl>
            <dt>規定試合数</dt>
            <dd>
                指定した期間に開催された全試合の半数以上に出場する必要があります。
                例えば、シーズン7試合実施した場合、4試合参加が条件になります。
            </dd>
        </dl>
    </div>

    <div th:replace="common :: footer">...</div>
</div>
</body>
</html>