<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base_025zilla.css}"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function selectYear() {
            location.href = document.select_year.year.value
        }

        /*]]>*/
    </script>
</head>
<body>
<div id="container">
    <div th:replace="common :: header">...</div>
    <div th:replace="common :: menu">...</div>

    <div id="content">
        <h1>活動記録</h1>

        <form name="select_year" method="post" OnChange="selectYear()">
            <select title="year" name="year" id="year">
                <option th:each="y : ${yearList}" th:value="'/events?year=' + ${y}" th:selected="${y} == ${year}">
                    [[${y}]]
                </option>
            </select>
        </form>

        <table class="bbase">
            <tr>
                <th>タイプ</th>
                <th>日時</th>
                <th>場所</th>
                <th>対戦相手</th>
            </tr>
            <tr th:each="event : ${eventList}">
                <td>
                    <a th:href="@{/events/{id}(id=${event.event.id})}" th:text="${event.event.type}"></a>
                </td>
                <td th:text="${#dates.format(event.date,'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${event.event.location}"></td>
                <td th:text="${event.event.opponent}"></td>
            </tr>
        </table>
    </div>

    <div th:replace="common :: footer">...</div>
</div>
</body>
</html>