<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" th:href="@{/css/base_025zilla.css}"/>
    <title>Event Detail</title>
</head>
<body>

<div id="container">
    <div th:replace="common :: header">...</div>
    <div th:replace="common :: menu">...</div>
    <div id="content">
        <h1>ここにたいとる</h1>
        <table class="bbase">
            <tr>
                <td>タイプ</td>
                <td th:text="${event.event.type}"></td>
            </tr>
            <tr>
                <td>日時</td>
                <td th:text="${#dates.format(event.date,'yyyy/MM/dd HH:mm')}"></td>
            </tr>
            <tr>
                <td>場所</td>
                <td th:text="${event.event.location}"></td>
            </tr>
            <tr>
                <td>対戦相手</td>
                <td th:text="${event.event.opponent}"></td>
            </tr>
            <tr>
                <td>結果</td>
                <td>
                    <div th:if="${event.event.game}">
                        <table class="bbase">
                            <tr>
                                <td th:each="score : ${event.scoreboard[0]}">
                                    <div th:text="${score}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td th:each="score : ${event.scoreboard[1]}">
                                    <div th:text="${score}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td th:each="score : ${event.scoreboard[2]}">
                                    <div th:text="${score}"></div>
                                </td>
                            </tr>
                        </table>

                        <table class="bbase">
                            <tr th:each="batter : ${event.batting}">
                                <td th:each="batting : ${batter}">
                                    <div th:text="${batting}"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>メモ</td>
                <td th:utext="${event.event.note}"></td>
            </tr>
            <tr th:if="!${event.event.game}">
                <td>参加</td>
                <td>TODO</td>
            </tr>
        </table>
    </div>
    <div th:replace="common :: footer">...</div>
</div>
</body>
</html>