<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" th:href="@{/css/base_025zilla.css}"/>
    <title>Event Detail</title>
</head>
<body>

<div id="container">
    <div th:replace="common :: header">...</div>
    <div th:replace="common :: menu">...</div>
    <div id="content">
        <h1>ログイン</h1>
        <div class="error-message" th:if="${param.error}">
            Invalid username and password.
        </div>

        <form th:action="@{/login}" method="post" class="login">
            <div><label for="username"> User Name:</label><input type="text" name="username" id="username"/></div>
            <div><label for="password"> Password: </label><input type="password" name="password" id="password"/></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>

    </div>
    <div th:replace="common :: footer">...</div>
</div>
</body>
</html>