<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Top Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base_025zilla.css}"/>
</head>

<body>

<div id="container">
    <div th:replace="common :: header">...</div>
    <div th:replace="common :: menu">...</div>

    <div id="content">

        <h1>[[${name}]]</h1>

        <p>
            [[${summary.numGames}]] 戦
            <span th:if="${summary.numWins > 0}" th:text="${summary.numWins} + '勝'"></span>
            <span th:if="${summary.numLoses > 0}" th:text="${summary.numLoses} + '敗'"></span>
            <span th:if="${summary.numDraws > 0}" th:text="${summary.numDraws} + '分'"></span>
        </p>

        <table class="bbase">
            <tr>
                <th>日時</th>
                <th>勝敗</th>
                <th>得点</th>
                <th>失点</th>
            </tr>
            <tr th:each="game : ${summary.games}">
                <td>
                    <a th:href="@{/events/{id}(id=${game.game.eventId})}"
                       th:text="${#dates.format(game.date,'yyyy-MM-dd HH:mm')}"></a>
                </td>
                <td align="center" th:text="${game.result}"></td>
                <td align="right" th:text="${game.game.getPointGot()}"></td>
                <td align="right" th:text="${game.game.getPointLost()}"></td>
        </table>

    </div> <!-- content -->

    <div th:replace="common :: footer">...</div>

</div> <!-- container -->

</body>
</html>
