<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hunterstudios.hunters.repository.BatterRepository">

    <select id="get" resultType="Batter">
        SELECT *
        FROM batters
        WHERE batters.event_id = #{eventId}
          AND batters.member_id = #{memberId}
    </select>

    <select id="findByOrder" resultType="Batter">
        SELECT *
        FROM batters
        WHERE batters.event_id = #{eventId}
          AND batters.bat_order = #{order}
    </select>

    <delete id="delete">
        DELETE
        FROM batters
        WHERE batters.id = #{eventId}
    </delete>

    <insert id="insert">
        INSERT INTO batters (id, event_id, member_id, bat_order)
        VALUES (#{id}, #{eventId}, #{memberId}, #{batOrder})
    </insert>

    <update id="update">
        UPDATE batters
        SET event_id  = #{eventId},
            member_id = #{memberId},
            bat_order = #{batOrder}
        WHERE id = #{id}
    </update>

    <select id="getBatters" resultMap="batterMap">
        SELECT batters.id        AS batter_id,
               batters.event_id  AS batter_event_id,
               batters.member_id AS batter_member_id,
               batters.bat_order AS batter_order,
               members.id        AS member_id,
               members.nick_name AS member_nickname
        FROM batters
        INNER JOIN members ON batters.member_id = members.id
        WHERE batters.event_id = #{eventId}
        ORDER BY batters.bat_order
    </select>

    <resultMap id="batterMap" type="Batter">
        <id property="id" column="batter_id"/>
        <result property="eventId" column="batter_event_id"/>
        <result property="memberId" column="batter_member_id"/>
        <result property="batOrder" column="batter_order"/>
        <association property="member" resultMap="memberResult"/>
        <collection property="battings" javaType="ArrayList" column="batter_id" ofType="Batting" select="getBattings"/>
    </resultMap>

    <select id="getBattings" resultType="Batting">
        SELECT *
        FROM battings
        WHERE battings.batter_id = #{id}
    </select>

    <resultMap id="memberResult" type="Member">
        <id property="id" column="member_id"/>
        <result property="nickname" column="member_nickname"/>
    </resultMap>
</mapper>