<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hunterstudios.hunters.repository.BattingRepository">

    <select id="getBattingSummary" resultType="BattingSummary">
        SELECT members.id                                                                        AS memberId,
               members.nick_name                                                                 AS name,
               count(battings.id)                                                                AS daseki,
               count(DISTINCT events.id)                                                         AS game,
               sum(battings.dasu)                                                                AS dasu,
               sum(battings.steal)                                                               AS steal,
               sum(battings.hit1 + battings.hit2 + battings.hit3 + battings.homerun)             AS hit,
               sum(battings.hit1)                                                                AS hit1,
               sum(battings.hit2)                                                                AS hit2,
               sum(battings.hit3)                                                                AS hit3,
               sum(battings.homerun)                                                             AS homerun,
               sum(battings.rbi)                                                                 AS rbi,
               sum(battings.sout)                                                                AS sout,
               sum(battings.fball)                                                               AS fball,
               sum(battings.dball)                                                               AS dball,
               sum(battings.hit1 + battings.hit2 * 2 + battings.hit3 * 3 + battings.homerun * 4) AS ruida
        FROM events
                 RIGHT OUTER JOIN batters ON batters.event_id = events.id
                 RIGHT OUTER JOIN battings ON battings.batter_id = batters.id
                 LEFT OUTER JOIN members ON batters.member_id = members.id
        WHERE events.date &gt;= #{begin}
          AND events.date &lt;= #{end}
        GROUP BY members.id, members.nick_name
    </select>

    <select id="getBattingSummaryOfLastNGames" resultType="BattingSummary">
        SELECT members.id                                                                        AS memberId,
               members.nick_name                                                                 AS name,
               count(battings.id)                                                                AS daseki,
               count(DISTINCT events.id)                                                         AS game,
               sum(battings.dasu)                                                                AS dasu,
               sum(battings.steal)                                                               AS steal,
               sum(battings.hit1 + battings.hit2 + battings.hit3 + battings.homerun)             AS hit,
               sum(battings.hit1)                                                                AS hit1,
               sum(battings.hit2)                                                                AS hit2,
               sum(battings.hit3)                                                                AS hit3,
               sum(battings.homerun)                                                             AS homerun,
               sum(battings.rbi)                                                                 AS rbi,
               sum(battings.sout)                                                                AS sout,
               sum(battings.fball)                                                               AS fball,
               sum(battings.dball)                                                               AS dball,
               sum(battings.hit1 + battings.hit2 * 2 + battings.hit3 * 3 + battings.homerun * 4) AS ruida
        FROM events
                 RIGHT OUTER JOIN batters ON batters.event_id = events.id
                 RIGHT OUTER JOIN battings ON battings.batter_id = batters.id
                 LEFT OUTER JOIN members ON batters.member_id = members.id
        WHERE events.id IN (SELECT * FROM (SELECT events.id FROM events INNER JOIN games ON events.id = games.event_id ORDER BY events.date DESC LIMIT #{n}) as t)
        GROUP BY members.id, members.nick_name
    </select>
</mapper>