<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hunterstudios.hunters.repository.EventRepository">
    <select id="select" resultType="com.hunterstudios.hunters.entity.Event">
        SELECT * FROM events WHERE id = #{id}
    </select>

    <select id="selectByPeriod"
            parameterType="com.hunterstudios.hunters.repository.Period"
            resultType="Event">
        SELECT * FROM events WHERE date &gt;= #{begin} AND date &lt;= #{end} AND status = 2 ORDER BY date
    </select>

    <select id="getLastYear"
            resultType="Integer">
        SELECT YEAR(date) as year FROM events WHERE status = 2 ORDER BY date DESC LIMIT 1
    </select>

    <select id="getYearList"
            resultType="String">
        SELECT DISTINCT YEAR(date) as year FROM events ORDER BY year
    </select>
</mapper>