<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hunterstudios.hunters.repository.MemberRepository">

    <select id="getMembersSortByRecentActivity" resultType="Member">
        SELECT members.id, members.nick_name, max(events.date) as d
        FROM members
                 INNER JOIN attendees ON members.id = attendees.member_id
                 INNER JOIN events ON attendees.event_id = events.id
        GROUP BY members.id, members.nick_name
        ORDER BY d DESC
    </select>

    <select id="getMembers" resultType="Member">
        SELECT * FROM members ORDER BY members.id
    </select>

    <select id="findByNickname" resultType="Member">
        SELECT * FROM members WHERE members.nick_name = #{nickname}
    </select>

    <insert id="add" useGeneratedKeys="true">
        INSERT INTO members (nick_name, status)
        VALUES (#{nickname}, #{status})
    </insert>
</mapper>